@{
    ViewData["Title"] = "AboutUs";
}
<style>
p.thick {
        font-weight: bold;
    }

    h1.thick,
    h2.thick {
        font-family: "Times New Roman", Times, serif;
        margin-top: 0;
        
    }
</style>
<div class="text-right">
    <h1 class="thick">About us</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>