@{
    ViewData["Title"] = "ContactUs";
}
<style>
    p.thick {
        font-weight: bold;
    }

    h1.thick,
    h2.thick {
        font-family: "Times New Roman", Times, serif;
        margin-top: 0;
    }
</style>
<div class="text-center">
    <h1 class="thick">Contact Details</h1>
    <img src="C:\Users\kayla\source\repos\POE_CloudDev\Views\Home\C.png" width="400" height="400">
        <p>Email: KhumaloCraftEmp@gmail.com</p>
        <p>Cell Number: 082 134 5678</p>
        <p>WhatsApp: 083 123 456 7890</p>
    
</div>