@{
    ViewData["Title"] = "ContactUs";
}
<style>
    p.thick {
        font-weight: bold;
    }

    h1.thick,
    h2.thick {
        font-family: "Times New Roman", Times, serif;
        margin-top: 0;
    }
</style>
<div class="text-center">
    <h1 class="thick">Contact Details</h1>
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/QjY3G7M/C.png" alt="C" border="0"></a>
        <p>Email: KhumaloCraftEmp@gmail.com</p>
        <p>Cell Number: 082 134 5678</p>
        <p>WhatsApp: 083 123 456 7890</p>
    
</div>