@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('https://qcexclusive.com/wp-content/uploads/2024/01/BlankCeramicsHighRes2-10.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;      
        margin: 0;
        padding: 0;
        color: white;
    }

    p.thick {
        font-family: "Times New Roman", Times, serif;
        text-align: center;
        margin-top: 0;
        font-size: 15px
    }

    h1.thick,
    h2.thick {
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        margin-top: 0;
        color: #e6e1e1;
        text-align: center;
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text-center {
        text-align: center;
    }

        .my-work-button{
        background-color: rgba(69, 53, 38, 0.4);
        border: none;
        color: white;
        padding: 10px 60px; /* Larger padding to increase button size */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin-top: 10px; /* Added margin to separate button from text */
        cursor: pointer;
        border-radius: 50px; /* Rounded corners */
        font-family: "Times New Roman", Times, serif;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(117, 116, 114, 0.1);
        padding: 25px;
        text-align: center;
        color: white;
    }

    .column {
        flex: 40%;
        max-width: 40%;
        padding: 0 4px;
    }

</style>

<body>
   
    <div class="container">
        <div class="column">
        <div class="text-center">
            <h1 class="thick">KhumaloCraft Emporium</h1>
            <p class="thick">
                Embrace the wild charm of South Africa with our whimsical pottery,
                each piece a playful tribute to the vibrant landscapes and rich cultures of the region.
            </p>
            <button class="my-work-button" onclick="location.href='https://localhost:7277/Home/MyWork';">My Work</button> <!-- Button -->
        </div>
    </div>
    </div>
</body>
