@{
    ViewData["Title"] = "MyWork";
}
<style>

 body {
        background-color: #bdb39b
 }

p.thick {
        font-weight: bold;
    }

    h1.thick {
        font-family: "Times New Roman", Times, serif;
        margin-top: 0;      
    }
    .text-center {
        text-align: center;
    }

    article {
        float: left;
        padding: 20px;
        width: 70%;
        height: 300px; /* only for demonstration, should be removed */
    }

</style> 

<div class="text-center">
    <h1 class="thick">My Work</h1>  
</div>

<aside>
<img src="https://i.pinimg.com/736x/01/7b/db/017bdb02c53c37bdcfae9b7a221124c3.jpg"
height="250"
weight = "200"
border-radius: 5px;
/>
</aside>

<article>
    <p>
        Glazed with Mayco Frost Blue over Green Tea. Inside is Green Tea only. Clay body is Sibelco WMS 2002GG.
    </p>
</article>
    

